- name: Deploy custom nginx on k3d
  hosts: localhost
  gather_facts: false

  vars:
    namespace: default
    app_name: custom-nginx
    image: "custom-nginx:v1"

  tasks:
    - name: Create Deployment
      kubernetes.core.k8s:
        state: present
        namespace: "{{ namespace }}"
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: "{{ app_name }}"
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: "{{ app_name }}"
            template:
              metadata:
                labels:
                  app: "{{ app_name }}"
              spec:
                containers:
                  - name: "{{ app_name }}"
                    image: "{{ image }}"
                    imagePullPolicy: IfNotPresent
                    ports:
                      - containerPort: 80

    - name: Create Service (NodePort)
      kubernetes.core.k8s:
        state: present
        namespace: "{{ namespace }}"
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: "{{ app_name }}"
          spec:
            type: NodePort
            selector:
              app: "{{ app_name }}"
            ports:
              - port: 80
                targetPort: 80
